azure-functions==1.15.0
azure-cosmos==4.5.1
azure-storage-blob==12.19.1
python-dotenv==1.0.0
requests==2.31.0
PyJWT==2.8.0
natsort==8.4.0
pydantic==1.8.2
numpy==1.26.3
pendulum==2.1.2
azure-identity==1.15.0
sendgrid==6.10.0




# DO NOT include azure-functions-worker in this file
# The Python Worker is managed by Azure Functions platform
# Manually managing azure-functions-worker may cause unexpected issues